{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{% block title %}Scout 972{% endblock %}</h1>
<hr>
<div class="row">
  <a class="btn btn-lg btn-outline-dark col-xl m-2" href="{% url 'scout:pit_data_input' %}">Pit Data Input</a>
  <a class="btn btn-lg btn-outline-dark col-xl m-2" href="{% url 'scout:match_data_input' %}">Match Data Input</a>
  <a class="btn btn-lg btn-outline-dark col-xl m-2" href="{% url 'scout:rankings' %}">Rankings</a>
  <a class="btn btn-lg btn-outline-dark col-xl m-2" href="{% url 'scout:team_pages' %}">Team Pages</a>
</div>
{% endblock %}
